[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/azhao1981/snipmate.vim.git
[submodule "bundle/ScrollColors"]
	path = bundle/ScrollColors
	url = git://github.com/vim-scripts/ScrollColors.git
[submodule "bundle/AutoClose"]
	path = bundle/AutoClose
	url = git://github.com/vim-scripts/AutoClose.git
[submodule "bundle/The-NERD-Commenter"]
	path = bundle/The-NERD-Commenter
	url = git://github.com/vim-scripts/The-NERD-Commenter.git
[submodule "bundle/vim-slim"]
	path = bundle/vim-slim
	url = git://github.com/slim-template/vim-slim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
